$spaces: (
  xxs: var(--space-xxs),
  xs: var(--space-xs),
  s: var(--space-s),
  sm: var(--space-sm),
  base: var(--space-base),
  m: var(--space-m),
  l: var(--space-l),
  xl: var(--space-xl),
  xxl: var(--space-xxl),
  xxl2: var(--space-xxl2),
  xxl3: var(--space-xxl3),
);